[Desktop Entry]
Type=Application
Name=J.A.R.V.I.S. Greeting
Comment=Play the J.A.R.V.I.S. startup greeting on login
Exec=/opt/jarvis/scripts/startup_greeting.sh
Icon=utilities-terminal
Terminal=false
X-GNOME-Autostart-enabled=true
X-KDE-autostart-after=panel
Hidden=false
NoDisplay=false
